body { 
    font-family: Arial, Helvetica, sans-serif;
    background: #f2f2f2;
    margin:0;
    padding: 0;
}

.card {
  width: 300px;
  background: white;
  margin: 100px auto;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  border: 1px solid #ddd;
}

button{
    padding: 10px 15px;
    border:none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover{
    opacity: 0.8;
}