body{
    font-family: Arial, Helvetica, sans-serif;
    background: #f2f2f2;
    margin:0;
    padding:0;
}

.profile{
    width: 300px;
    background: white;
    margin: 100px auto;
    border-radius: 12px;
    border: 2px solid ;
    text-align: center;
}

.buttons{
    padding: 10px 15px;
}
button {
  padding: 10px 14px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

ul {
  padding: 0;
  list-style: none;
}

li {
  padding: 8px;
  border: 1px solid #eee;
  border-radius: 8px;
  margin-top: 8px;
}