/practice2
/practice6
/pratice7week
/node_modules
/Midterm
# node modules in the lab4
/lab4/task1/node_modules
/lab4/task2/node_modules

/node_modules

/week9/

*/venv/
/venv/
Lab8/shop-backend/shop_back/venv/

/week10/

*venv
