*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

body{
    background-color: #f0f2f5;
    display:flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
}

.container{
    display: flex;
    width: 980px;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 120px;
}

.brand-section{
    width: 500px;
}

.logo{
    height:106px;
    display: block;
}

.brand-section p{
    font-size: 28px;
    line-height: 32px;
    width: 480px;
    margin-top: 10px;
}

.login-section{
    width:400px;
    text-align: center;
}

.login-card{
    background:#fff;
    padding:15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
    margin-bottom: 25px;
}

input{
    width: 100%;
    margin-top: 15px;
    height: 52px;
    font-size: 17px;
    border: 1px solid #dddfe2;
    border-radius: 6px;
    margin-bottom: 10px;
}

input:focus {
    border-color: #1877f2;
    box-shadow: 0 0 0 2px #e7f3ff;
}

button{
    width:100%;
    height:52px;
    font-size: 17px;
    margin-top: 10px;
    border: 1px solid #dddfe2;
    border-radius: 6px;
}

.login-btn{
    background-color: #1877f2;
    color: white;
}

.create-btn{
    width:250px;
    background-color: #42b72a;
    color: white;
    font-size: 17px;
    font-weight: bold;
    padding: 0 16px;
    height: 48px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
hr {
    margin: 20px 0;
    border: 0;
    border-top: 1px solid #dadde1;
}

.forgot-link {
    display: block; /* to make it be block */
    margin-top: 15px;
    color: #1877f2;
    text-decoration: none;
    font-size: 14px;
}

